.article {
  max-width: 70%;
  padding: 32px;
  width: 100%;
  overflow-wrap: break-word;
  font-family: "Open Sans", sans-serif;
  box-shadow: 2px 4px 20px rgb(34 90 89 / 20%);
}

.article h2 {
  font-size: 32px;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  font-weight: 700;
}

.article h3 {
  font-size: 26px;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  font-weight: 700;
}

.article p {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  margin-bottom: 1rem;
  margin-top: 0;
}

.article p.bold-text,
.article div.bold-text {
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
}

.article strong {
  font-weight: 700;
}

.article .blog-post-text li {
  font-size: 16px;
  line-height: 24px;
  text-indent: 0px;
  white-space: normal;
  font-weight: 400;
  overflow: visible;
  margin-bottom: 0.3rem;
}

.article a {
  color: #6366f1;
  text-decoration: underline;
}

@media screen and (max-width: 992px) {
  .article {
    max-width: 100%;
    padding: 16px;
  }
  .article h2 {
    font-size: 28px;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    font-weight: 700;
  }

  .article h3 {
    font-size: 24px;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    font-weight: 700;
  }
}
